* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

/* .country-list {
  list-style-type: none;
}

.country-item {
  display: flex;
  align-items: center;
}

.item-flag {
  margin-right: 14px;
}

.item-span {
  font-weight: bold;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px;
}

.photo-card {
  margin: 20px;
  border-radius: 15px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  18px 18px 39px #b5b5b5, -18px -18px 39px #ffffff;
}

.photo-card > img {
  border-radius: 18px;
}

.search-form {
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: tomato;
  border-radius: 15px;
  background: linear-gradient(145deg, #c36069, #ff828f);
  box-shadow:  18px 18px 39px #b5b5b5, -18px -18px 39px #ffffff;
}

.search-form > input {
  border: none;
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 220px;
  height: 40px;
  font-size: 24px;
}

.search-form > button {
  /* border-radius: 15px; */
  border: none;
  cursor: pointer;
  background-color: #b5b5b5;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 24px;
}


.info {
  display: flex;
  padding: 5px;
}

.info-item {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}